body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 330px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.todoform, .row {
	background-color: #e5e5ff;
	border-radius: 8px;
	padding: 15px;
	width: 300px;
}

.editform {
	width: 250px;
}

div {
	margin-top: 20px;
}

.actionitems {
	float: right;
}

.input {
	width: 260px;
	margin-right: 5px;
}

.button {
	background: none;
	border: none;
}

.check-complete {
	color: green;
	text-decoration: line-through;
}